
#header{
    position:relative; 
    bottom:100px;
}
section:nth-child(odd){
    background-color:white;
}

section:nth-child(even){
    background-color:#f5f5f5;
}


.section-body h2{
    color: #4f2104;
}

.section-body h3, .section-body p{
    color: #505050;
    font-style: normal;
   
}

.section-body p{
    font-size:1.1em;
}

.section-body h3.section-subheading{
    line-height:1.6em;
    font-size:1.3em;
}

.campaign-item img{
    margin:30px auto;
}

.campaign-item{
    text-align:center;
}



.modal-body p, .modal-body ul li, .modal-body button{
    font-size:1.4em;
}

.modal-body h2{
    color: #4f2104;
}

#contact h2{
    margin-bottom:80px;
}

footer{
    background-color:#240606;
    color:white;
    padding-top: 80px;
    padding-bottom: 80px;
}

footer span.copyright{
    font-size: 0.6em;
}

div.left-footer img{
    margin-bottom:30px;
}

div.center-footer{
    margin-bottom:30px;
    font-size:1.3em;
}

.event{
    border-bottom: 1px solid; 
    margin-bottom:10px; 
    padding-bottom:20px;
}

.event h3{
    margin-bottom:5000px;
}

/* additional resources*/
p.custom-section{
    text-align: left;
}

/*#resources div.section-body > p:first-child > strong{*/
/*    font-size:11px;*/
/*}*/
